$errorColor: #f56c6c; //错误提示颜色
$focusColor: #409eff; //获取光标颜色
$borderColor: #dcdfe6; //边框颜色
$fontInitializedColor: #606266; //默认字体颜色
$hoverBackgroundColor: #f5f7fa; //hover背景色
$titleFontColor: #303133; //title颜色
$closeButtonColor: #909399; //close按钮颜色
$boxShadowColor: 0 2px 12px 0 rgba(0, 0, 0, .1); //box-shadow颜色
$popBorderColor:1px solid #e4e7ed;
$iconColor:'#c0c4cc';

